<!DOCTYPE html>
<html lang="en">
  <head>    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MicroE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/new-event">New Event</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="test-content">
        <h1>Comming soon....</h1>
        <p class="lead">I am in testing. Don't hack me.</p>
      </div>
    </div><!-- /.container -->

    <ul>
      <% for(var i=0; i<events.length; i++) { %>
        <li>
            <a href='event/<%= events[i].id %>'>
                <%= events[i].title %>
            </a>
        </li>
      <% } %>
    </ul>
    <% include ../partials/foot.ejs%>
  </body>
</html>